./services/customer_service/node_modules/*
./services/order_service/node_modules/*
./services/order_service/node_modules/*
./services/shared/config_client/node_modules/*
./services/shared/db/node_modules/*
./services/shared/redis/node_modules/*
